body{
  background: white;
}

a:link {
  text-decoration: none;
  color: blue;
}

a:visited {
  text-decoration: none;
  color: blue;
}

a:hover {
  color:red;
  text-shadow: 0px 0px 3px red;
}

a:active {
  color:red;
  text-decoration: none;
}

.overlay{
  position: fixed;
  bottom: 0px;
  right: -70px;
}

.overlay2{
  position: fixed;
  bottom: 20px;
  right: -70px;
}

.overlay3{
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.overlay img{
  width:40vw;
  filter:blur(6px);
}

.overlay2 img{
  width:40vw;

}

.wrapper {
  width: 30vw;
  height: 90vh;
  position: absolute;
  margin:auto;
  padding-left: 3vw;
  top:0;
  bottom:0;
  left:0;
}

.wrapper ul{
  list-style-type:none;
}

.wrapper h3{
  color: lightgreen;
  text-shadow: 0px 0px 3px lightgreen;
}

.wrapper p{
  color: lightgreen;
  text-shadow: 0px 0px 3px lightgreen;
}

.wrap2 {
  width: 80%;
  height: 80%;
  position: absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  font-size: 60px;
}

.wrap2 img{
  width: 60vw;
  padding: 30px;
  filter: drop-shadow(8px 8px 15px pink)
}

.player {
  position: absolute;
  bottom: 0px;
}

.vimeo-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
